.listItem {
  display: grid;
  grid-row-gap: 16px;
}

.video {
  width: 100%;
}

.dataCount {
  display: grid;
  direction: rtl;
  grid-auto-flow: column;
  align-items: center;
  justify-content: start;
  grid-column-gap: 8px;
}

.description {
  direction: rtl;
}
