.header {
  height: 60px;
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  align-items: center;
  padding: 8px 24px;
  border-bottom: 1px solid #36a9e1;
}

.logo {
  height: 60%;
}
